%p#notice= notice

%p
  %b Text:
  = @message.text
%p
  %b User:
  = @message.user_id
%p
  %b Game:
  = @message.game_id

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path
